/** //*============================== RESET STYLES ==============================*/ /**/
/** //*============================== RESET STYLES ==============================*/ /**/
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*^ //^======================== TYPOGRAPHY ========================^// ^*/
/*^ //^======================== TYPOGRAPHY ========================^// ^*/
.heading {
  font-size: max(2.5vw, 36px);
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .heading {
    font-size: max(3.516vw, 24px);
  }
}
@media (max-width: 834px) {
  .heading {
    font-size: max(2.878vw, 20px);
  }
}
.heading._main {
  font-size: max(5vw, 72px);
}
@media (max-width: 1024px) {
  .heading._main {
    font-size: max(7.031vw, 60px);
  }
}
@media (max-width: 834px) {
  .heading._main {
    font-size: max(7.194vw, 48px);
  }
}
@media (max-width: 600px) {
  .heading._main {
    font-size: max(8vw, 32px);
  }
}

/*@ //@======================== GENERAL ========================@// @*/
/*@ //@======================== GENERAL ========================@// @*/
html,
body {
  font-family: Lato, sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  position: relative;
}

.container {
  margin: 0 auto;
  height: 100%;
  padding-inline: max(2.778vw, 40px);
  max-width: max(71.111vw, 1024px);
}
@media (max-width: 1024px) {
  .container {
    padding-inline: max(3.906vw, 20px);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3803921569);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 100;
}
.overlay._show {
  opacity: 1;
  visibility: visible;
}

/*^ //^======================== SELECTS ========================^// ^*/
/*^ //^======================== SELECTS ========================^// ^*/
.select, .dropdown {
  position: relative;
}
.select._active .select__header-icon, .dropdown._active .select__header-icon {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.select__header, .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.select__header-icon, .dropdown__header-icon {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.select__body, .dropdown__body {
  position: absolute;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.select__label, .dropdown__label {
  display: block;
  cursor: pointer;
}
.select input, .dropdown input {
  position: absolute;
  visibility: hidden;
}

.contact-form__select {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.contact-form__select .select__body {
  left: calc(-1 * max(0.069vw, 1px));
  right: calc(-1 * max(0.069vw, 1px));
  background-color: #fff;
  top: 100%;
}
.contact-form__select .select__list {
  border: max(0.069vw, 1px) solid #333333;
  border-top: none;
  border-radius: 0 0 max(0.417vw, 6px) max(0.417vw, 6px);
  overflow: clip;
}
.contact-form__select .select__label {
  padding-inline: max(2.083vw, 30px);
  padding-block: max(1.389vw, 20px);
}
.contact-form__select._active {
  border-radius: max(0.417vw, 6px) max(0.417vw, 6px) 0 0;
}

/*^ //^======================== BURGER ========================^// ^*/
/*^ //^======================== BURGER ========================^// ^*/
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 150;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px -8px #000;
            box-shadow: 0 0 20px -8px #000;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--follow {
    -webkit-box-shadow: 0 0 10px 1px #6d839b;
            box-shadow: 0 0 10px 1px #6d839b;
    background: #fff;
  }
  .burger__line {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #1E212C;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger__line:first-child, .burger__line:last-child {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger__line:first-child {
    margin-bottom: 5px;
  }
  .burger__line:last-child {
    margin-top: 5px;
  }
  .burger._active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger._active .burger__line:first-child, .burger._active .burger__line:last-child {
    margin: 0;
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/*^ //^======================== CARDS ========================^// ^*/
/*^ //^======================== CARDS ========================^// ^*/
/*^ //^------------ feature-card ------------^// ^*/
.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (hover: hover) {
  .feature-card:hover img {
    scale: 1.05;
  }
}
.feature-card__card:last-child {
  margin-right: 0;
}
.feature-card__image {
  overflow: hidden;
  border-radius: max(0.694vw, 10px);
  width: 100%;
}
@media (max-width: 600px) {
  .feature-card__image {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
.feature-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.feature-card__info {
  max-width: 85%;
  padding-top: max(2.083vw, 30px);
  padding-inline: max(1.389vw, 20px);
  padding-bottom: max(1.736vw, 25px);
  position: relative;
  z-index: 1;
  margin-top: calc(-1 * max(8.333vw, 120px));
  border-radius: max(0.556vw, 8px);
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 60%;
  -webkit-box-shadow: 0 0 max(1.389vw, 20px) 0 #eee;
          box-shadow: 0 0 max(1.389vw, 20px) 0 #eee;
}
@media (max-width: 1024px) {
  .feature-card__info {
    margin-top: calc(-1 * max(11.719vw, 20px));
    padding-inline: max(1.953vw, 10px);
    padding-block: max(2.441vw, 12px);
  }
}
@media (max-width: 600px) {
  .feature-card__info {
    padding: max(3.333vw, 12px);
  }
}
.feature-card__card:hover .feature-card__card-info {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.feature-card__title {
  margin-bottom: max(1.389vw, 20px);
  color: #101010;
  font-size: max(1.25vw, 18px);
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1024px) {
  .feature-card__title {
    font-size: max(1.758vw, 16px);
  }
}
.feature-card__text {
  margin-bottom: max(1.389vw, 20px);
  color: #101010;
  font-size: max(0.833vw, 12px);
  text-align: center;
}
@media (max-width: 1024px) {
  .feature-card__text {
    margin-bottom: max(1.953vw, 14px);
  }
}
.feature-card__link {
  color: #ED4C5C;
  font-size: max(0.833vw, 12px);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-top: auto;
}

/*^ //^------------ technology-card ------------^// ^*/
.technology-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.technology-card__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: max(8.194vw, 118px);
  height: max(8.333vw, 120px);
  margin-bottom: max(1.389vw, 20px);
}
.technology-card__image-bg {
  width: max(7.639vw, 110px);
}
.technology-card__image-bg img {
  width: 100%;
}
.technology-card__image-fg {
  margin-top: max(4.514vw, 65px);
  position: absolute;
  width: max(5.556vw, 80px);
}
.technology-card__image-fg img {
  width: 100%;
}
.technology-card__title {
  margin-bottom: max(0.694vw, 10px);
  color: #101010;
  font-size: max(1.25vw, 18px);
  font-weight: 700;
  text-align: center;
}
.technology-card__info {
  color: #000000;
  font-size: max(0.833vw, 12px);
  text-align: center;
  text-wrap: balance;
}

/*$ //$======================== HEADER ========================$// $*/
/*$ //$======================== HEADER ========================$// $*/
.header {
  width: 100%;
  padding-block: max(1.25vw, 14px);
  position: absolute;
  z-index: 100;
}
.header._open .header__inner {
  translate: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
@media (max-width: 1024px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    padding-block: 80px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    color: #000;
    translate: 100%;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: max(1.25vw, 18px);
  font-weight: 700;
  letter-spacing: max(0.069vw, 1px);
  text-transform: uppercase;
}
.header__logo-icon {
  width: max(1.806vw, 26px);
  height: max(1.319vw, 19px);
  margin-right: 7px;
}
.header__logo-icon svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .header__logo-icon svg path {
    fill: #000;
  }
}
@media (max-width: 1024px) {
  .header__logo-text {
    color: #000;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: max(0.694vw, 10px);
}
@media (max-width: 1024px) {
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: max(0.972vw, 14px);
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .header__menu-link:hover {
    scale: 1.1;
  }
}
@media (max-width: 1024px) {
  .header__menu-link {
    color: #000;
    font-size: 16px;
  }
}
.header__lang {
  cursor: pointer;
  font-size: max(0.972vw, 14px);
}
.header__lang:hover .header__lang-dropdown {
  visibility: visible;
  opacity: 1;
}
.header__lang-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: max(7.639vw, 110px);
}
.header__lang-icon {
  margin-right: max(1.111vw, 16px);
}
.header__lang-icon img {
  width: max(2.222vw, 32px);
  height: max(2.222vw, 32px);
}
.header__lang-name {
  margin-right: 10px;
  color: #fff;
}
@media (max-width: 1024px) {
  .header__lang-name {
    color: #000;
  }
}
.header__lang-arrow {
  width: max(2.083vw, 30px);
  height: max(2.083vw, 30px);
}
.header__lang-arrow svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .header__lang-arrow svg path {
    fill: #000;
  }
}
.header__lang-dropdown {
  padding-top: max(0.694vw, 10px);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__button {
  display: block;
  padding-inline: max(1.944vw, 28px);
  padding-block: max(0.764vw, 11px);
  border: max(0.069vw, 1px) solid #fff;
  border-radius: max(0.417vw, 6px);
  color: #FFFFFF;
  font-size: max(0.972vw, 14px);
  letter-spacing: max(0.069vw, 1px);
  text-transform: uppercase;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
@media (hover: hover) {
  .header__button:hover {
    scale: 1.1;
  }
}
@media (max-width: 1024px) {
  .header__button {
    border-color: #000;
    color: #000;
  }
}

/*$ //$======================== FORMS ========================$// $*/
/*$ //$======================== FORMS ========================$// $*/
/*$ //$------------ contact-form ------------$// $*/
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: max(1.667vw, 24px);
}
.contact-form__fieldset {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: max(1.667vw, 24px);
}
.contact-form__input, .contact-form__select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-inline: max(2.083vw, 30px);
  padding-block: max(1.389vw, 20px);
  border: max(0.069vw, 1px) solid #333333;
  border-radius: max(0.417vw, 6px);
  width: 100%;
}
.contact-form__input::-webkit-input-placeholder, .contact-form__select::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-form__input::-moz-placeholder, .contact-form__select::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-form__input:-ms-input-placeholder, .contact-form__select:-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-form__input::-ms-input-placeholder, .contact-form__select::-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-form__input::placeholder, .contact-form__select::placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact-form__button {
  padding-inline: max(2.361vw, 34px);
  padding-block: max(1.181vw, 17px);
  border: max(0.069vw, 1px) solid #ED4C5C;
  border-radius: max(0.417vw, 6px);
  background: #ED4C5C;
  color: #FFFFFF;
  font-size: max(0.972vw, 14px);
  text-transform: uppercase;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.contact-form__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/*$ //$======================== FOOTER ========================$// $*/
/*$ //$======================== FOOTER ========================$// $*/
.footer {
  padding-block: max(5.903vw, 85px);
  background: #FAFAFA;
}
@media (max-width: 1024px) {
  .footer {
    padding-block: max(8.301vw, 60px);
  }
}
@media (max-width: 834px) {
  .footer {
    padding-block: max(7.194vw, 45px);
  }
}
.footer__inner {
  margin-bottom: max(5.972vw, 86px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(13.194vw, 190px), 1fr));
  -webkit-column-gap: max(0.694vw, 10px);
     -moz-column-gap: max(0.694vw, 10px);
          column-gap: max(0.694vw, 10px);
  row-gap: max(1.667vw, 24px);
}
@media (max-width: 1024px) {
  .footer__inner {
    grid-template-columns: repeat(auto-fill, minmax(max(18.555vw, 160px), 1fr));
  }
}
@media (max-width: 425px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.footer__column-title {
  margin-bottom: max(1.944vw, 28px);
  color: #101010;
  font-size: max(1.25vw, 18px);
  font-weight: 700;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .footer__column-title {
    margin-bottom: max(2.734vw, 20px);
  }
}
@media (max-width: 834px) {
  .footer__column-title {
    margin-bottom: max(2.398vw, 18px);
  }
}
@media (max-width: 600px) {
  .footer__column-title {
    margin-bottom: max(3vw, 14px);
  }
}
@media (max-width: 425px) {
  .footer__column-title {
    pointer-events: all;
    cursor: pointer;
  }
}
.footer__column-text {
  max-width: max(12.153vw, 175px);
  font-size: max(0.833vw, 12px);
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: max(0.694vw, 10px);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
@media (max-width: 425px) {
  .footer__list {
    max-height: 0;
    overflow: clip;
  }
}
.footer__list-link {
  display: block;
  color: #000000;
  font-size: max(0.833vw, 12px);
  text-transform: capitalize;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
@media (hover: hover) {
  .footer__list-link:hover {
    color: #ED4C5C;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: max(0.694vw, 10px);
}
.footer__socials-link {
  display: block;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  width: max(0.972vw, 14px);
  height: max(0.972vw, 14px);
}
.footer__socials-link svg path {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
@media (hover: hover) {
  .footer__socials-link:hover svg path {
    fill: #ED4C5C;
  }
}
.footer__banks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: max(0.694vw, 10px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*@ //@======================== hero ========================@// @*/
/*@ //@======================== hero ========================@// @*/
.hero {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 17px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("../img/header/Bg.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../img/header/Bg.jpg") no-repeat center/cover;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__heading {
  margin-bottom: 40px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.hero__text {
  max-width: max(37.5vw, 540px);
  margin-bottom: max(2.778vw, 40px);
  padding: max(1.667vw, 24px);
  color: #FFFFFF;
  font-size: max(1.667vw, 24px);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1024px) {
  .hero__text {
    font-size: max(2.344vw, 20px);
  }
}
@media (max-width: 834px) {
  .hero__text {
    font-size: max(2.398vw, 18px);
  }
}
@media (max-width: 600px) {
  .hero__text {
    font-size: max(3vw, 16px);
  }
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: max(3.611vw, 52px);
  height: max(3.472vw, 50px);
  border-radius: max(0.417vw, 6px);
  background-color: #fff;
  color: #ED4C5C;
  font-size: max(0.972vw, 14px);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .hero__button:hover {
    scale: 1.1;
  }
}

/*@ //@======================== software ========================@// @*/
/*@ //@======================== software ========================@// @*/
.software {
  padding-block: max(6.944vw, 100px);
}
@media (max-width: 1024px) {
  .software {
    padding-block: max(9.766vw, 60px);
  }
}
@media (max-width: 600px) {
  .software {
    padding-block: max(10vw, 40px);
  }
}
.software__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  .software__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.software__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: max(445px, 50%);
  margin-right: max(4.861vw, 70px);
}
@media (max-width: 1024px) {
  .software__content {
    margin-right: max(6.836vw, 30px);
  }
}
@media (max-width: 600px) {
  .software__content {
    margin-right: 0;
    width: 100%;
  }
}
.software__heading {
  margin-bottom: max(2.778vw, 40px);
}
.software__text {
  margin-bottom: max(1.389vw, 20px);
  font-size: max(0.972vw, 14px);
  text-align: justify;
}
.software__link {
  color: #000000;
  font-size: max(0.972vw, 14px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .software__link:hover {
    color: #ED4C5C;
  }
}
.software__video {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 600px) {
  .software__video {
    width: 100%;
  }
}
.software__video-box {
  width: 100%;
}
.software__video-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.software__video-button-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: calc(-1 * max(2.292vw, 33px));
  z-index: 5;
  width: max(4.583vw, 66px);
  height: max(4.583vw, 66px);
}
@media (max-width: 1024px) {
  .software__video-button-box {
    width: max(6.445vw, 40px);
    height: max(6.445vw, 40px);
    margin-right: calc(-1 * max(3.223vw, 20px));
  }
}
@media (max-width: 600px) {
  .software__video-button-box {
    margin-right: 0;
    position: absolute;
    left: 50%;
    translate: -50%;
    width: max(11vw, 40px);
    height: max(11vw, 40px);
  }
}
.software__video-button {
  display: block;
  width: 100%;
  height: 100%;
}
.software__video-button img {
  width: 100%;
  height: 100%;
}
@media (hover: hover) {
  .software__video-button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*@ //@======================== features ========================@// @*/
/*@ //@======================== features ========================@// @*/
.features {
  padding-block: max(4.167vw, 60px);
  background: #FAFAFA;
}
@media (max-width: 1024px) {
  .features {
    padding-block: max(5.859vw, 40px);
  }
}
.features__heading {
  margin-bottom: max(4.167vw, 60px);
  text-align: center;
}
@media (max-width: 1024px) {
  .features__heading {
    margin-bottom: max(5.859vw, 40px);
  }
}
.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: max(1.042vw, 15px);
}
@media (max-width: 600px) {
  .features__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*@ //@======================== technology ========================@// @*/
/*@ //@======================== technology ========================@// @*/
.technology {
  padding-top: max(4.167vw, 60px);
  padding-bottom: max(6.944vw, 100px);
}
@media (max-width: 1024px) {
  .technology {
    padding-top: max(5.859vw, 40px);
    padding-bottom: max(9.766vw, 50px);
  }
}
.technology__heading {
  margin-bottom: max(3.472vw, 50px);
  text-align: center;
}
.technology__list {
  gap: max(1.389vw, 20px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(13.194vw, 190px), 1fr));
}
/*@ //@======================== focused ========================@// @*/
/*@ //@======================== focused ========================@// @*/
.focused {
  padding-block: max(6.25vw, 90px);
  position: relative;
  background: #ED4C5C;
}
@media (max-width: 1024px) {
  .focused {
    padding-block: max(8.789vw, 45px);
  }
}
.focused__inner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: max(2.083vw, 30px);
}
@media (max-width: 1024px) {
  .focused__inner {
    gap: max(2.93vw, 20px);
  }
}
@media (max-width: 834px) {
  .focused__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.focused__heading {
  margin-bottom: max(2.778vw, 40px);
  color: #fff;
}
.focused__text {
  margin-bottom: max(2.778vw, 40px);
  color: #fff;
}
.focused__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: max(9.722vw, 140px);
}
.focused__stores-link {
  display: block;
}
.focused__stores-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.focused__slider {
  position: relative;
  border-radius: max(0.417vw, 6px);
  overflow: clip;
  height: 100%;
}
.focused__slider-track {
  height: 80%;
}
@media (max-width: 834px) {
  .focused__slider-track {
    height: auto;
  }
}
.focused__slide {
  padding-inline: 0 max(0.694vw, 10px);
  cursor: pointer;
}
@media (max-width: 834px) {
  .focused__slide {
    aspect-ratio: 16/9;
  }
}
.focused__slide img {
  width: 100%;
  height: 100%;
  border-radius: max(0.417vw, 6px);
  -o-object-fit: cover;
     object-fit: cover;
}
.focused__slider-pagination {
  margin-top: max(1.389vw, 20px);
  position: static;
  gap: max(0.417vw, 6px);
}
.focused__slider-page {
  width: max(2.083vw, 30px);
  height: max(0.208vw, 3px);
  border-radius: max(0.208vw, 3px);
  background-color: #ffffff;
  opacity: 1;
  margin: auto;
}
.focused__slider-page.is-active {
  background-color: #424551;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

/*@ //@======================== contact ========================@// @*/
/*@ //@======================== contact ========================@// @*/
.contact {
  padding-block: max(8.333vw, 120px);
}
@media (max-width: 1024px) {
  .contact {
    padding-block: max(11.719vw, 100px);
  }
}
@media (max-width: 834px) {
  .contact {
    padding-block: max(11.99vw, 45px);
  }
}
.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: max(2.083vw, 30px);
}
@media (max-width: 834px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact__content {
  max-width: max(30.903vw, 445px);
}
.contact__heading {
  margin-bottom: max(3.472vw, 50px);
}
.contact__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.contact__form {
  min-width: 50%;
}
.contact__form-service {
  color: rgba(19, 39, 67, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

/*==================================== ANIMATION ====================================*/