/*Reset_Styles*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  src: local("Lato"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.eot") format("eot");
  font-display: swap;
}
html,
body {
  font-family: Lato, sans-serif;
  line-height: 160%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 25px;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.burger {
  display: none;
}

/*================================= HEADER ========================================*/
.header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("../img/header/Bg.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../img/header/Bg.jpg") no-repeat center/cover;
  min-height: 100vh;
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__top {
  -webkit-transform: translate(0, -100px);
      -ms-transform: translate(0, -100px);
          transform: translate(0, -100px);
  opacity: 0;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
}
.header__top-inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-item {
  padding: 0 10px;
}
.header__nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__lang {
  cursor: pointer;
}
.header__lang-inner {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__lang-icon {
  margin-right: 15px;
}
.header__lang-icon img {
  width: 32px;
  height: 32px;
}
.header__lang-name {
  color: #fff;
  margin-right: 10px;
}
.header__lang-arrow {
  width: 30px;
  height: 30px;
}
.header__lang-dropdown {
  position: absolute;
  padding-top: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__lang:hover .header__lang-dropdown {
  visibility: visible;
  opacity: 1;
}
.header__top-button {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #fff;
  padding: 11px 28px;
  border-radius: 6px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.header__info {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  width: 540px;
  padding: 24px;
  text-align: center;
  margin-bottom: 39px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.header__bidy-button-box {
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
  opacity: 0;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
}
.header__body-button {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ED4C5C;
  background-color: #fff;
  padding: 17px 53px 16px 52px;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__body-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.logo__image {
  width: 26px;
  height: 19px;
  margin-right: 7px;
}
.logo__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1px;
}

/*================================ SOFTWARE ===============================================*/
.software {
  padding-top: 94px;
  padding-bottom: 95px;
}
.software__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.software__content {
  max-width: 445px;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.software__heading {
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.software__text {
  text-align: justify;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}
.software__link-box {
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}
.software__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.software__link:hover {
  color: #ED4C5C;
}
.software__video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  opacity: 0;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 1s 1s;
  transition: all 1s 1s;
}
.software__videobox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.software__video-button-box {
  width: 66px;
  height: 66px;
  margin-right: -33px;
  z-index: 5;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) 0.5s 2s;
  transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) 0.5s 2s;
}
.software__video-button {
  display: block;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.software__video-button:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/*================================= FEATURES ==============================================*/
.features {
  background: #FAFAFA;
  padding: 63px 0 229px;
}
.features__heading {
  text-align: center;
  margin-bottom: 63px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__card {
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.features__card:last-child {
  margin-right: 0;
}
.features__card-image {
  overflow: hidden;
  border-radius: 10px;
}
.features__card-image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.features__card:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.features__card-info {
  max-width: 85%;
  padding: 33px 20px 25px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  top: 62%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.features__card:hover .features__card-info {
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.features__card-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  margin-bottom: 20px;
}
.features__card-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #101010;
  margin-bottom: 22px;
}
.features__card-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #ED4C5C;
}

/*==================================== TECHNOLOGY =========================================*/
.technology {
  padding: 63px 0 104px;
}
.technology__heading {
  margin-bottom: 52px;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.technology__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.technology__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 191px;
  position: relative;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.technology__item-imagebox {
  width: 117px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 19px;
}
.technology__item-bgimage {
  margin: 0 auto;
}
.technology__item-frimage {
  position: absolute;
  margin-top: 65px;
}
.technology__item-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  margin-bottom: 10px;
}
.technology__item-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}

/*================================ FOCUSED =======================================*/
.focused {
  background: #ED4C5C;
  padding: 94px 0 95px 0;
  position: relative;
}
.focused__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.focused__content {
  max-width: 445px;
  margin-right: 30px;
}
.focused__heading {
  margin-bottom: 42px;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.focused__text {
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.focused__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 134px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.focused__stores-item {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.focused__stores-link {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.focused__stores-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.focused__slider-inner {
  opacity: 0;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 1.5s;
  transition: all 0.5s 1.5s;
}
.focused__slider {
  width: 533px;
  border-radius: 6px;
  position: relative;
}
.focused__slide {
  cursor: pointer;
  padding: 0 10px;
}
.focused__slide img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.focused .heading--white {
  color: #fff;
}
.focused__slider-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.focused__slider-dots li {
  margin-right: 12px;
}
.focused__slider-dots li:last-child {
  margin-right: 0;
}
.focused__slider-dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.focused__slider-dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}
.focused__slider-dots .slick-active button::before {
  background-color: #424551;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*=================================== CONTACT ========================================*/
.contact {
  padding: 117px 0;
}
.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__content {
  width: 445px;
  margin-right: 30px;
}
.contact__heading {
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0;
  -webkit-transform: translate(-100px, 0);
      -ms-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.contact__form {
  width: 540px;
  opacity: 0;
  -webkit-transform: translate(100px, 0);
      -ms-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
}
.contact__form-service {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contact__form-input {
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px 30px;
  margin-bottom: 24px;
}
.contact__form-input::-webkit-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-input::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-input:-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-input::-ms-input-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-input::placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact__form-firstname, .contact__form-lastname {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contact__form-firstname {
  margin-right: 24px;
}
.contact__form-phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.contact__form-service {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 27px;
  padding: 20px 26px;
}
.contact__form-service option:first-child {
  color: red;
}
.contact__form-button-box {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) 0.5s 2s;
  transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) 0.5s 2s;
}
.contact__form-button {
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  padding: 17px 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact__form-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*=============================== FOOTER ==============================================*/
.footer {
  background: #FAFAFA;
  padding: 85px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}
.footer__column {
  margin-right: 30px;
}
.footer__column:last-child {
  margin-right: 0px;
}
.footer__column-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 28px;
  pointer-events: none;
}
.footer__column-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  width: 175px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__list-item {
  margin-bottom: 10px;
}
.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #ED4C5C;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__mail {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-bottom: 11px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__mail:hover {
  color: #ED4C5C;
}
.footer__phone {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__phone:hover {
  color: #ED4C5C;
}
.footer__socials {
  width: 64px;
}
.footer__socials-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__socials-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__socials-link {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 14px;
  height: 14px;
}
.footer__socials-link path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__socials-link:hover path {
  fill: #ED4C5C;
}

/*==================================== ANIMATION ====================================*/
.anim-item--active,
.loaded {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

/*==================================== MEDIA ====================================*/
/*=================================== MEDIA =========================================*/
/*=================================== MEDIA =========================================*/
@media (max-width: 1020px) {
  .contact__form-input {
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  .burger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 150;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px -8px #000;
            box-shadow: 0px 0px 20px -8px #000;
  }
  .burger--follow {
    -webkit-box-shadow: 0 0px 10px 1px #6d839b;
            box-shadow: 0 0px 10px 1px #6d839b;
    background: #fff;
  }
  .burger__line {
    width: 30px;
    height: 4px;
    background: #1E212C;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger__line:first-child, .burger__line:last-child {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger__line:first-child {
    margin-bottom: 5px;
  }
  .burger__line:last-child {
    margin-top: 5px;
  }
  .burger--open {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger--open .burger__line:first-child, .burger--open .burger__line:last-child {
    position: absolute;
    margin: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    z-index: 100;
    min-width: 320px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 80px 0;
  }
  .header__nav-link,
  .header .logo__text {
    color: #000;
  }
  .header__button-box {
    padding-top: 30px;
  }
  .header__top-button {
    color: #000;
    border-color: #000;
  }
  .header__lang-name {
    color: #000;
  }
  .header__lang-arrow svg path {
    fill: #000;
  }
  .header__nav-list {
    max-height: 285px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 285px;
            flex: 1 1 285px;
    margin-bottom: 20px;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .header__lang-inner {
    margin-bottom: 20px;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .logo__image svg path {
    fill: #000;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
    z-index: 50;
  }
  .focused__slider {
    width: 400px;
  }
  .focused__slide {
    width: 300px;
  }
  .contact {
    padding: 80px 0;
  }
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 920px) {
  .heading {
    font-size: 28px;
  }
  .features {
    padding-bottom: 180px;
  }
  .features__card-info {
    padding: 20px 20px;
  }
}
@media (max-width: 880px) {
  .software__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 33px;
  }
  .software__content {
    margin-right: 0;
    margin-left: 33px;
    max-width: 445px;
  }
  .software__heading {
    margin-bottom: 20px;
  }
  .software__text {
    margin-bottom: 20px;
  }
  .software__link {
    margin-bottom: 30px;
  }
  .features {
    padding-bottom: 60px;
  }
  .features__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__card {
    margin-right: 0;
    margin-bottom: 120px;
  }
  .focused__slider-inner {
    display: none;
  }
  .focused__content {
    margin-right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 820px) {
  .technology__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .technology__item {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .contact {
    padding: 40px;
  }
  .contact__form-input {
    margin-bottom: 18px;
  }
  .contact__content {
    width: auto;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 740px) {
  .contact__heading {
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .header__title {
    font-size: 58px;
  }
  .header__info {
    font-size: 20px;
  }
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form {
    width: auto;
  }
  .contact__content {
    margin-bottom: 30px;
  }
  .contact__form-firstname {
    margin-right: 10px;
  }
}
@media (max-width: 570px) {
  .header__info {
    width: auto;
  }
  .footer__inner {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 40px;
  }
  .header__info {
    font-size: 16px;
  }
  .header__top {
    width: 100%;
  }
  .technology {
    padding-bottom: 60px;
  }
  .technology__item-imagebox {
    width: 80%;
  }
  .contact__form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form-firstname {
    margin-right: 0;
  }
  .contact__content {
    margin-right: 0;
  }
  .contact__text {
    text-align: justify;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__column-title {
    margin-bottom: 15px;
  }
  .footer__column {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100px;
  }
  .footer__socials-inner {
    margin-bottom: 10px;
  }
  .footer__column-title--services {
    cursor: pointer;
    pointer-events: all;
    margin: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .footer__column-title--services:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .footer__list {
    margin-top: 10px;
    display: none;
  }
}
@media (max-width: 420px) {
  .heading {
    font-size: 20px;
  }
  .software {
    padding: 40px 0;
  }
  .software__text {
    margin-bottom: 10px;
  }
  .software__content {
    margin-bottom: 10px;
  }
  .software__heading {
    line-height: 150%;
  }
}
@media (max-width: 360px) {
  .header__title {
    font-size: 28px;
  }
  .header__info {
    font-size: 14px;
  }
  .header__body-button {
    font-size: 12px;
  }
  .header__top {
    min-width: auto;
  }
  .features {
    padding-bottom: 10px;
  }
  .features__card {
    margin-bottom: 160px;
  }
  .focused__heading {
    margin-bottom: 30px;
    line-height: 140%;
  }
  .contact__form-button {
    padding: 15px 20px;
  }
  .contact__form-service {
    margin-bottom: 30px;
  }
}
@media (max-height: 720px) {
  .header__top-inner {
    padding-bottom: 50px;
  }
}