/*@ //@======================== contact ========================@// @*/
/*@ //@======================== contact ========================@// @*/

.contact {
  padding: 117px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: const(30px);
  }

  &__content {
    max-width: const(445px);
  }

  &__heading {
    margin-bottom: const(50px);
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__form {
    // width: 540px;
  }

  &__form-service {
    color: rgba(19, 39, 67, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
}