/*@ //@======================== contact ========================@// @*/
/*@ //@======================== contact ========================@// @*/

.contact {
  padding-block: const(120px);

  @media (max-width: $LAPTOP) {
    padding-block: lap(120px, 100px);
  }
  @media (max-width: $TABLET) {
    padding-block: tab(100px, 45px);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: const(30px);

    @media (max-width: $TABLET) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: const(445px);
  }

  &__heading {
    margin-bottom: const(50px);
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__form {
    // width: 540px;
    min-width: 50%;
  }

  &__form-service {
    color: rgba(19, 39, 67, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
}