/*@ //@======================== features ========================@// @*/
/*@ //@======================== features ========================@// @*/

.features {
  padding-block: const(60px);
  background: #FAFAFA;

  @media (max-width: $LAPTOP) {
    padding-block: lap(60px, 40px);
  }

  &__heading {
    margin-bottom: const(60px);
    text-align: center;

    @media (max-width: $LAPTOP) {
      margin-bottom: lap(60px, 40px);
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: const(15px);

    @media (max-width: $MOBILE) {
      flex-direction: column;
    }
  }

  &__card {
    flex: 1;
  }


}