/*@ //@======================== focused ========================@// @*/
/*@ //@======================== focused ========================@// @*/

.focused {
  padding-block: const(90px);
  position: relative;
  background: #ED4C5C;

  @media (max-width: $LAPTOP) {
    padding-block: lap(90px, 45px);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: const(30px);

    @media (max-width: $LAPTOP) {
      gap: lap(30px, 20px);
    }

    @media (max-width: $TABLET) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {}

  &__heading {
    margin-bottom: const(40px);
    color: #fff;
  }

  &__text {
    margin-bottom: const(40px);
    color: #fff;
  }

  &__stores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: const(140px);
  }

  &__stores-item {}

  &__stores-link {
    display: block;
  }

  &__stores-link:hover {
    transform: scale(1.1);
  }

  &__slider-inner {}

  &__slider {
    position: relative;
    border-radius: const(6px);
    overflow: clip;
    height: 100%;
  }

  &__slider-track {
    height: 80%;

    @media (max-width: $TABLET) {
      height: auto;
    }
  }

  &__slide {
    padding-inline: 0 const(10px);
    cursor: pointer;

    @media (max-width: $TABLET) {
      aspect-ratio: 16 / 9;
    }
  }

  &__slide img {
    width: 100%;
    height: 100%;
    border-radius: const(6px);
    object-fit: cover;
  }

  &__slider-pagination {
    margin-top: const(20px);
    position: static;
    gap: const(6px);
  }

  &__slider-page {
    width: const(30px);
    height: const(3px);
    border-radius: const(3px);
    background-color: #ffffff;
    opacity: 1;
    margin: auto;

    &.is-active {
      background-color: #424551;
      transform: none;
      transition: all 250ms;
    }
  }
}