/*@ //@======================== technology ========================@// @*/
/*@ //@======================== technology ========================@// @*/

.technology {
  padding-top: const(60px);
  padding-bottom: const(100px);

  @media (max-width: $LAPTOP) {
    padding-top: lap(60px, 40px);
    padding-bottom: lap(100px, 50px);
  }

  &__heading {
    margin-bottom: const(50px);
    text-align: center;
  }

  &__list {
    // display: flex;
    // justify-content: space-between;
    gap: const(20px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(const(190px), 1fr));
  }

  &__list-item {
  }
}