@import "reset";
@import "fonts";

html,
body {
	font-family: Lato, sans-serif;
	line-height: 160%;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1140px;
	padding: 0 25px;
	margin: 0 auto;
	// height: 100%;
}

.heading {
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}

.burger {
	display: none;
}



/*================================= HEADER ========================================*/

.header {
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../img/header/Bg.jpg') no-repeat center / cover;
	min-height: 100vh;
	padding-top: 17px;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.3s;
	
	&__top {
		transform: translate(0, -100px);
		opacity: 0;
		transition: all .5s 1s;
	}

	&__top-inner {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		letter-spacing: 1px;
	}

	&__nav-list {
		display: flex;
		justify-content: space-between;
	}

	&__nav-item {
		padding: 0 10px;
	}

	&__nav-link {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all .3s;
	}

	&__nav-link:hover {
		transform: scale(1.1);
	}

	&__lang {
		cursor: pointer;
	}

	&__lang-inner {
		width: 110px;
		display: flex;
		align-items: center;
	}

	&__lang-icon {
		margin-right: 15px;

		img {
			width: 32px;
			height: 32px;
		}
	}

	&__lang-name {
		color: #fff;
		margin-right: 10px;
	}

	&__lang-arrow {
		width: 30px;
		height: 30px;
	}

	&__lang-dropdown {
		position: absolute;
		padding-top: 10px;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	&__lang:hover &__lang-dropdown {
		visibility: visible;
		opacity: 1;
	}


	&__top-button {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #FFFFFF;
		border: 1px solid #fff;
		padding: 11px 28px;
		border-radius: 6px;
		letter-spacing: 1px;
		transition: all .3s;
	}

	&__top-button:hover {
		transform: scale(1.1);
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}

	&__body-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-weight: 700;
		font-size: 72px;
		line-height: 86px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 40px;
		transition: transform .5s, opacity .5s;
		opacity: 0;
		transform: scale(0);
	}

	&__info {
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
		width: 540px;
		padding: 24px;
		text-align: center;
		margin-bottom: 39px;
		transition: transform 1s, opacity 1s;
		opacity: 0;
		transform: scale(0);
	}

	&__bidy-button-box {
		transition: transform 1.5s, opacity 1.5s;
		opacity: 0;
		transform: translate(0, 100px);
	}

	&__body-button {
		display: block;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #ED4C5C;
		background-color: #fff;
		padding: 17px 53px 16px 52px;
		border-radius: 6px;
		transition: all .3s;
	}

	&__body-button:hover {
		transform: scale(1.1);
	}
}

.logo {
	&__image {
		width: 26px;
		height: 19px;
		margin-right: 7px;
	}

	&__text {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		letter-spacing: 1px;
	}
}


/*================================ SOFTWARE ===============================================*/

.software {
	padding-top: 94px;
	padding-bottom: 95px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		max-width: 445px;
		margin-right: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	&__heading {
		margin-bottom: 40px;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all 1s;
	}

	&__text {
		text-align: justify;
		margin-bottom: 20px;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all 1s .5s;
	}

	&__link-box {
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all 1s .5s;
	}

	&__link {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		text-align: justify;
		color: #000000;
		transition: all .3s;
	}

	&__link:hover {
		color: #ED4C5C;
	}

	&__video {
		position: relative;
		display: flex;
		align-items: center;
		flex-grow: 1;
		opacity: 0;
		transform: translate(100px, 0);
		transition: all 1s 1s;
	}

	&__videobox img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__video-button-box {
		width: 66px;
		height: 66px;
		margin-right: -33px;
		z-index: 5;
		opacity: 0;
		transform: scale(0);
		transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) .5s 2s;
	}

	&__video-button {
		display: block;
		transition: all, .3s;
	}

	&__video-button:hover {
		transform: scale(1.2);
	}
}

/*================================= FEATURES ==============================================*/

.features {
	background: #FAFAFA;
	padding: 63px 0 229px;

	&__heading {
		text-align: center;
		margin-bottom: 63px;
		transition: all .5s;
		opacity: 0;
		transform: scale(0);
	}

	&__cards {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		margin-right: 15px;
		position: relative;
		transition: all .3s;
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: scale(0);
		opacity: 0;
		transition: transform .5s;
	}

	&__card:last-child {
		margin-right: 0;
	}

	&__card-image {
		overflow: hidden;
		border-radius: 10px;
	}

	&__card-image img {
		width: 100%;
		height: 100%;
		transition: all .3s;
	}

	&__card:hover img {
		transform: scale(1.05);
	}

	// &__card-info-inner {
	// 	border: 1px solid black;
	// 	height: 100%;
	// }

	&__card-info {
		max-width: 85%;
		padding: 33px 20px 25px;
		text-align: center;
		border-radius: 8px;
		background: #fff;
		position: absolute;
		top: 62%;
		// left: 29px;
		transition: all .3s;
	}

	&__card:hover &__card-info {
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	}

	&__card-heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #101010;
		margin-bottom: 20px;
	}

	&__card-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		color: #101010;
		margin-bottom: 22px;
	}

	&__card-link {
		font-weight: 700;
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		color: #ED4C5C;
	}
}

/*==================================== TECHNOLOGY =========================================*/

.technology {
	padding: 63px 0 104px;

	&__heading {
		margin-bottom: 52px;
		text-align: center;
		opacity: 0;
		transform: scale(0);
		transition: all .5s;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 191px;
		position: relative;
		opacity: 0;
		transform: scale(0);
		transition: all .5s;
	}

	&__item-imagebox {
		width: 117px;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 19px;
	}

	&__item-bgimage {
		margin: 0 auto;
	}

	&__item-frimage {
		position: absolute;
		margin-top: 65px;
		// top: 0px;
	}

	&__item-heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #101010;
		margin-bottom: 10px;
	}


	&__item-info {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #000000;
	}
}

/*================================ FOCUSED =======================================*/

.focused {
	background: #ED4C5C;
	padding: 94px 0 95px 0;
	position: relative;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		max-width: 445px;
		margin-right: 30px;
	}

	&__heading {
		margin-bottom: 42px;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__text {
		color: #fff;
		margin-bottom: 40px;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__stores {
		display: flex;
		width: 134px;
		justify-content: space-between;
		align-items: center;
	}

	&__stores-item {
		opacity: 0;
		transform: scale(0);
		transition: all 1s;
	}

	&__stores-link {
		display: block;
		transition: all .3s;
	}

	&__stores-link:hover {
		transform: scale(1.1);
	}

	&__slider-inner {
		opacity: 0;
		transform: translate(100px, 0);
		transition: all .5s 1.5s;
	}

	&__slider {
		width: 533px;
		border-radius: 6px;
		position: relative;
	}

	&__slide {
		cursor: pointer;
		padding: 0 10px;
	}

	&__slide img {
		border-radius: 6px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.heading--white {
		color: #fff;
	}

	&__slider-dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	&__slider-dots li {
		margin-right: 12px;
	}

	&__slider-dots li:last-child {
		margin-right: 0;
	}

	&__slider-dots button {
		font-size: 0;
		background-color: transparent;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__slider-dots button::before {
		content: "";
		height: 3px;
		width: 100%;
		background-color: #ffffff;
		border-radius: 3px;
	}

	&__slider-dots .slick-active button::before {
		background-color: #424551;
		transition: all .3s;
	}
}

/*=================================== CONTACT ========================================*/

.contact {
	padding: 117px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 445px;
		margin-right: 30px;
	}

	&__heading {
		margin-bottom: 50px;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all .5s;
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		opacity: 0;
		transform: translate(-100px, 0);
		transition: all .5s .5s;
	}

	&__form {
		width: 540px;
		opacity: 0;
		transform: translate(100px, 0);
		transition: all .5s 1s;
	}

	&__form-service {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: rgba(19, 39, 67, 0.5);
	}

	&__form-row {
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
	}

	&__form-input {
		border: 1px solid #333333;
		border-radius: 6px;
		padding: 20px 30px;
		margin-bottom: 24px;
	}

	&__form-input::placeholder {
		color: rgba(19, 39, 67, 0.5);
	}

	&__form-firstname,
	&__form-lastname {
		flex: 1 1 auto;
	}

	&__form-firstname {
		margin-right: 24px;
	}

	&__form-phone {
		flex: 1 1 auto;
	}

	&__form-service {
		flex: 1 1 auto;
		margin-bottom: 27px;
		padding: 20px 26px;
	}

	&__form-service option:first-child {
		color: red;
	}

	&__form-button-box {
		opacity: 0;
		transform: scale(0);
		transition: all cubic-bezier(0.38, -0.63, 0.78, 1.67) .5s 2s;
	}

	&__form-button {
		background: #ED4C5C;
		border: 1.5px solid #ED4C5C;
		border-radius: 6px;
		padding: 17px 34px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all .3s;
	}

	&__form-button:hover {
		transform: scale(1.1);
	}
}


/*=============================== FOOTER ==============================================*/

.footer {
	background: #FAFAFA;
	padding: 85px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 86px;
	}

	&__column {
		margin-right: 30px;
	}

	&__column:last-child {
		margin-right: 0px;
	}

	&__column-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #101010;
		margin-bottom: 28px;
		pointer-events: none;
	}

	&__column-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		width: 175px;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__list-item {
		margin-bottom: 10px;
	}

	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 160%;
		text-transform: capitalize;
		color: #000000;
		transition: all .3s;
	}

	&__link:hover {
		color: #ED4C5C;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
	}

	&__mail {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #101010;
		margin-bottom: 11px;
		transition: all .3s;
	}

	&__mail:hover {
		color: #ED4C5C;
	}

	&__phone {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #101010;
		margin-bottom: 20px;
		transition: all .3s;
	}

	&__phone:hover {
		color: #ED4C5C;
	}

	&__socials {
		width: 64px;
	}

	&__socials-inner {
		display: flex;
		justify-content: space-between;
	}

	&__socials-item {
		transition: all .3s;
	}

	&__socials-link {
		display: block;
		transition: all .3s;
		width: 14px;
		height: 14px;
	}

	&__socials-link path {
		transition: all .3s;
	}

	&__socials-link:hover path {
		fill: #ED4C5C;
	}


}


/*==================================== ANIMATION ====================================*/

.anim-item--active,
.loaded {
	transform: translate(0, 0);
	transform: scale(1);
	opacity: 1;
}

/*==================================== MEDIA ====================================*/

@import "media";