/*$ //$======================== FOOTER ========================$// $*/
/*$ //$======================== FOOTER ========================$// $*/

.footer {
  padding-block: const(85px);
  background: #FAFAFA;
  @media (max-width: $LAPTOP) {
    padding-block: lap(85px, 60px);
  }
  @media (max-width: $TABLET) {
    padding-block: tab(60px, 45px);
  }

  &__inner {
    margin-bottom: const(86px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(const(190px), 1fr));
    column-gap: const(10px);
    row-gap: const(24px);

    @media (max-width: $LAPTOP) {
      grid-template-columns: repeat(auto-fill, minmax(lap(190px, 160px), 1fr));
    }

    @media (max-width: 425px) {
      $vp: 425px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__column {}

  &__column-title {
    margin-bottom: const(28px);
    color: #101010;
    font-size: const(18px);
    font-weight: 700;
    pointer-events: none;

    @media (max-width: $LAPTOP) {
      margin-bottom: lap(28px, 20px);
    }

    @media (max-width: $TABLET) {
      margin-bottom: tab(20px, 18px);
    }

    @media (max-width: $MOBILE) {
      margin-bottom: mob(18px, 14px);
    }

    @media (max-width: 425px) {
      pointer-events: all;
      cursor: pointer;
    }
  }

  &__column-text {
    max-width: const(175px);
    font-size: const(12px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: const(10px);
    transition: all 250ms;

    @media (max-width: 425px) {
      max-height: 0;
      overflow: clip;
    }
  }

  &__list-item {}

  &__list-link {
    display: block;
    color: #000000;
    font-size: const(12px);
    text-transform: capitalize;
    transition: all 250ms;

    @media (hover:hover) {
      &:hover {
        color: #ED4C5C;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__socials {
    display: flex;
    gap: const(10px);
  }

  &__socials-item {}

  &__socials-link {
    display: block;
    transition: all 250ms;
    @include square(const(14px));

    svg {
      path {
        transition: all 250ms;
      }
    }

    @media (hover:hover) {
      &:hover {
        svg {
          path {
            fill: #ED4C5C;
          }
        }
      }
    }
  }

  &__banks {
    display: flex;
    align-items: center;
    gap: const(10px);
    flex-wrap: wrap;
  }
}