/*^ //^======================== BURGER ========================^// ^*/
/*^ //^======================== BURGER ========================^// ^*/

.burger {
  display: none;

  @media (max-width: 1024px) {
    $vp: 1024px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 150;
    border-radius: 50%;
    box-shadow: 0 0 20px -8px #000;
    background: #fff;
    cursor: pointer;
    transition: all .3s;

    &--follow {
      box-shadow: 0 0 10px 1px #6d839b;
      background: #fff;
    }

    &__line {
      width: 30px;
      height: 4px;
      border-radius: 3px;
      background: #1E212C;
      transition: all .3s;

      &:first-child,
      &:last-child {
        transition: all .3s;
      }

      &:first-child {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-top: 5px;
      }
    }

    &._active {
      transform: rotate(45deg);

      .burger__line {

        &:first-child,
        &:last-child {
          margin: 0;
          position: absolute;
          transform: rotate(90deg);
        }
      }
    }
  }
}